page {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size  : 32rpx;
    font-weight: normal;
}

@font-face {
    font-family : 'TCloudNumber';
    src         : url('https://cy-static-resources.oss-cn-beijing.aliyuncs.com/retailshop/fonts/TCloudNumber/TCloudNumberVF.ttf') format('truetype');
    font-style  : normal;
    font-display: swap;
}